<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cqvip.zlfassist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- scan -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.WelcomActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddFavorActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.AddDownloadActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.AddNotificationActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.PeriodicalInfoActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.DisplayFollowActivity"
            android:label="@string/title_activity_display_follow"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cqvip.zlfassist.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.AddFollowActivity"
            android:label="@string/subscribe_my_category"
            android:parentActivityName=".activity.DisplayFollowActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cqvip.zlfassist.activity.DisplayFollowActivity" />
        </activity>
        <activity
            android:name=".scan.CaptureActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.DetailContentActivity"
            android:label="@string/title_activity_detail_content"
            android:parentActivityName=".activity.PeriodicalInfoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cqvip.zlfassist.activity.PeriodicalInfoActivity" />
        </activity>
    </application>

</manifest>